doctype(html)
html(lang="en")
    head
        title #{notification.type.toUpperCase()}: New Notification
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Roboto;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        img(src=meta.logo, alt="", style="height:50px;")
        h1 #{notification.title}
        div(style='max-width: 100vw')
            div!= notification.description
        button(style=`padding: 0.5rem 1.5rem; border-radius: 0.5rem; margin: 1rem 0; background: #22DD77;`)
            a(href=meta.domain + notification.action, style="text-decoration:none;color: #FFFFFF;", target="__blank") Click to view
